.App {
  text-align: center;
  width: 100%;
  height: 1000px;
}
.header{
  height: 12%;
  background-color: rgb(165, 165, 135);
  font-size: xx-large;
  font-weight: bold;
  
}
.counts{
  background-color: rgb(197, 160, 160);
  
  height: 20px;
  margin-left: -40px;
}
.info-tab{
  font-size: x-small;
}
.bar{
  background-color: rgb(13, 13, 16);
  width: 12%;
  margin-left: 1px;

  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.number-p{
margin-top: 0;
left:8%;
position:fixed;
justify-self: flex-start;
}
.year-p{
  margin-bottom: 0;
  position: relative;
  justify-self: flex-end;
}
.year-p{
  color: rgb(215, 210, 204);
  font-weight: bold;
}
.yeartab{
  color: rgb(16, 13, 10);
  font-weight: bold;
}
.yeartabholder{
  color: black;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;

}
.number-p{
  color: rgb(44, 39, 39);
}

.yeartabholder{
  border-right:2px solid black;
  position: relative;
  bottom: 0;
}
.chartscreen{
   
    width: 100%;
    height: 80%;
    
}
.graph{
  height: 100%;
  display: flex;
  width: 100%;
}
.bar-in{
display: flex;
height: 50%;
width: 80%;
overflow: scroll;
scrollbar-color: green;
scrollbar-3dlight-color: aqua;
background-color: rgb(231, 241, 250);
position: relative;
top: 10%;
}
.pie{
  
}
.lab{
  position:sticky;
  top: 0;
  font-weight: bold;
  background-color: azure;
  display: flex;
  justify-content: flex-start;
}
.chart{
  position: relative;
   left: 50px;
    width: 100%;
    height: 100%;
}
.footer{
  background-color: blue;
  position: fixed;
	top: 90%;
	min-height: 100vh;
  width: 100%;
}
